<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>First Project.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FAECF3481EE5078900414BE1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAECF35C1EE5078900414BE1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAECF3671EE5078900414BE1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
